$primary: rebeccapurple;
$secondary: #9fbe3c;
$background-grey: #F6F8F9;

$font-family-base: 'Montserrat', sans-serif;

$headings-font-family: 'Quicksand', sans-serif;
$headings-font-weight: bold;
$h2-font-size: 22px;
