<header>
    <div class="container">
      <div class="left-content">
        <a class="logo" href="https://www.basisschool-rijmenam.be/">
          <img src="/assets/header-logo.png" width="140" alt="" />
        </a>
      </div>
      <div class="right-content">
        <div class="title">Blog</div>
        <a href="https://www.basisschool-rijmenam.be/">‹ Terug naar website</a>
      </div>
    </div>
</header>
<app-page-header></app-page-header>
<app-categories></app-categories>
<main>
  <router-outlet></router-outlet>
</main>
